<div class="kitten-search">
    <%=form_with(url: search_path, method: :get) do |f|%>
        <div class="search-form-term">
            <%= f.label "Kitten +"  %>
            <%= f.text_field :search_term%>
        </div>
        <%= f.submit :Search%>
    <% end %>    
</div>
<% if @kittens.length > 0 %>
    <% @kittens.each do |kitten| %>
        <%= render kitten %>
    <% end %>    
<% end %>
<%= link_to "Create kitten", new_kitten_path%>